:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #31363F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Hide scrollbar for WebKit browsers */
.scroll-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* Hide scrollbar for Firefox */
.scroll-container {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for other browsers */
.scroll-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  display: flex; /* Ensure the items are in a row */
  flex-wrap: nowrap; /* Prevent wrapping of items */
}

@tailwind base;
@tailwind components;
@tailwind utilities;